@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

.fi-body{
    background: #adbcdc;
}

.fi-topbar > nav {
    background-color: #D6DBDF !important;
}

.fi-wi-stats-overview-stat {
    background-color: #D6DBDF !important;
}

.fi-tabs {
    background-color: #D6DBDF !important;
}

.fi-header-heading {
    color: #2563eb !important;
}

.fi-ta-table thead {
    background-color: #D6DBDF !important;
}

/* .fi-section */
/* .grid {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) !important;
} */
